body {
  background-color: rgb(235, 217, 179);
}
h1 {
  background-color: rgb(196, 152, 72);
}

#p2 {
  color: rgb(180, 26, 6);
  font-family: peyda;
  font-size: 15px;
  font-weight: bold;
}
#p3 {
  color: rgb(228, 66, 44);
  font-family: sn pro;
}
.part1 {
  clear: left;
  font-weight: 400;
  color: rgb(58, 3, 3);
  border-style: solid;
  border-radius: 10px;
  text-shadow: 3px 4px 5px rgb(170, 102, 12), -3px -4px 3px rgb(148, 5, 5);
  margin: 3px;

}
